body {
    background-color:#00acdf;
    color: rgb(0, 0, 0);
    padding: 40px;
    font-family: Roboto;

  }

.viewBuilding {
    color: #ffffff;
    text-align: left;
    font-family: Times-New-Roman;
}

.table-striped table-hover{
    position: fixed;
}

